<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TenantId" value="36b1a426-e1b5-4c6f-8605-a58f1ff61ce1" />
    <add key="ClientId" value="02d36d2d-d066-4a59-a031-b512846b1f28" />
    <add key="ClientSecret" value="3r5u8j1POc3fpVOIWi6NwiMgn1MjY21m3JcATRqDQfY=" />
  </appSettings>
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="True"/>
    </defaultProxy>
  </system.net>
</configuration>