<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="es6-promise.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net461" />
  <package id="es6-shim.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net461" />
  <package id="jasmine.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net461" />
  <package id="rx.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net461" />
</packages>